* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Roboto;
    nav {
        overflow: hidden;
        width: 100%;
    }
    a.main {
        background-color: midnightblue;
        display: block;
        width: 25%;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        text-align: center;
        float: left;
        transition: all 1s ease;
    }
}

header {
    display: block;
    width: 100%;
    max-width: 1400px;
}

h1,
h2 {
    display: block;
    text-align: center;
}

.section {
    margin: 2vp;
}

footer {
    background-color: black;
    color: white;
    font-size: 1vw;
    margin: 0 auto 0 auto;
    max-width: 1400px;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}